<!doctype html>
<html>
  <head>
    <title>Schedule</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <style>
      :target{
        padding-top:100px;
      }
      .compact :target{
        padding-top:inherit;
      }
      h2 a{
        color:inherit;
      }
      h1 img{
        max-width:50px;
	margin-right:.5em;
      }
      .sticky{
        background:#fff;
	margin:0;
	padding:1em 0;
      }
      .compact .sticky, .compact .sticky-wrapper{
        width:100%;
	clear:both;
      }
      .compact h2{
        font-size:1.2em;
	padding-bottom:.5em;
	border-bottom: 1px solid #ccc;
      }
      .compact .day h2{
        margin-top:.5em;
      }
      .compact h3{
        font-size:1em;
      }
      .compact .day{
        float:left;
	width:20%;
	margin-bottom:8em;
      }
      .compact .day:nth-of-type(6n + 2){
        clear:both;
      }
      .compact hr{
        display:none;
      }
      .compact ul{
        padding-left:1.5em;
	font-size:.8em;
      }
      [href='']{
        color:red
      }
    </style>
    <script>
      function formatDate(date) {
	var d = new Date(date),
	month = '' + (d.getMonth() + 1),
	day = '' + d.getDate(),
	year = d.getFullYear();

	if (month.length < 2) month = '0' + month;
	if (day.length < 2) day = '0' + day;

	return [year, month, day].join('-');
      }

      window.onload = function(){
	var jump = document.querySelector('.js-jump')
	jump.addEventListener('click', function(event){
	  event.preventDefault()
	  var d = formatDate(new Date())
	  var target = document.getElementById(d);
	  window.scrollTo(target.offsetLeft,target.offsetTop);
	  window.location.hash = formatDate(new Date())
	})
      }
    </script>
  </head>
  <body>
  <div class='page-header'>
    <h1 class='container'><img src='https://avatars2.githubusercontent.com/u/11040407?v=3&s=200'>Schedule</h1>
    <div class='container'>
      <input type='checkbox' id='view'>
      <label for='view'>Compact</label>
    </div>
  </div>
  <div class='container'>
    <a href='#' class='js-jump'>Jump to Today</a>
  </div>
  <div class='container'>
    <%= @html %>
  </div>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  <script src='jquery.sticky.js'></script>
  <script>
    $(".sticky").each(function(){
      $(this).sticky({topSpacing:0});
    })
    var $view = $("#view")
    var view = localStorage.getItem("yamlandar-view")
    if(view === 'compact'){
      document.body.classList.add('compact')
      $view.attr('checked', 'checked')
    }
    $view.on("change", e => {
      localStorage.setItem('yamlandar-view', view == "compact" ? '' : 'compact')
      document.body.classList.toggle('compact')
    })
  </script>
</body>
</html>
