<!doctype html>
<html>
  <head>
    <title>Schedule</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <style>
      :target{
        padding-top:100px;
      }
      h2 a{
        color:inherit;
      }
      h1 img{
        max-width:50px;
	margin-right:.5em;
      }
      .sticky{
        background:#fff;
	margin:0;
	padding:1em 0;
      }
    </style>
    <script>
      function formatDate(date) {
	var d = new Date(date),
	month = '' + (d.getMonth() + 1),
	day = '' + d.getDate(),
	year = d.getFullYear();

	if (month.length < 2) month = '0' + month;
	if (day.length < 2) day = '0' + day;

	return [year, month, day].join('-');
      }

      window.onload = function(){
	var jump = document.querySelector('.js-jump')
	jump.addEventListener('click', function(event){
	  event.preventDefault()
	  var d = formatDate(new Date())
	  var target = document.getElementById(d);
	  window.scrollTo(target.offsetLeft,target.offsetTop);
	  window.location.hash = formatDate(new Date())
	})
      }
    </script>
  </head>
  <body>
  <div class='page-header'>
    <h1 class='container'><img src='https://avatars2.githubusercontent.com/u/11040407?v=3&s=200'>Schedule</h1>
  </div>
  <div class='container'>
    <a href='#' class='js-jump'>Jump to Today</a>
  </div>
  <%= @html %>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  <script src='jquery.sticky.js'></script>
  <script>
    $(".sticky").each(function(){
      $(this).sticky({topSpacing:0});
    })
  </script>
</body>
</html>
